name: Azure Backend

on:
  workflow_call:
  
permissions: write-all

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.x'

      - name: Build with dotnet
        working-directory: Backend
        env:
          ASPNETCORE_ENVIRONMENT: Staging
        run: dotnet build --configuration Release

      - name: dotnet publish
        run: dotnet publish -c Release -o "$DOTNET_ROOT/myapp"
        working-directory: Backend

      - uses: actions/setup-node@v4
        with:
          node-version: 20
        
      - name: Install semantic-release
        run: npm install -g semantic-release @semantic-release/git @semantic-release/github

      - name: Run semantic-release
        id: semver
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: semantic-release

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        
      - name: Login GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}


      - name: Docker meta
        id: meta-backend
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository_owner }}/document-editor-backend
          tags: |
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}
            type=raw,value=latest

      - name: Build & push
        uses: docker/build-push-action@v6
        with:
          context: ./Backend/document-editor
          file: ./Docker/Backend/Dockerfile
          push: true
          tags: ${{ steps.meta-backend.outputs.tags }}

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: .net-app
          path: ${{env.DOTNET_ROOT}}/myapp

      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: .net-app

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_E9EF5F377CB04AEB8039784C03448EDE }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_1A8A4FC3D61D46F2BE7DF62F4C3E5C18 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_6747FCE555B64632A4C21BAF409416BB }}

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'Backend-DocumentEditor'
          slot-name: 'Production'
          package: .