name: Verify

on:
  workflow_dispatch:
  push:
    branches:
      - test
      - main
  pull_request:
    branches:
      - main
      - test
  pull_request_target:
    branches:
      - main
      - test

permissions:
  contents: read
  issues: write
  pull-requests: write

jobs:
  Backend:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '9.0.x'

      - name: Installing Dependencies
        run: dotnet restore document-editor.sln
        working-directory: Backend

      - name: Format
        run: dotnet format document-editor.sln --verify-no-changes
        working-directory: Backend

      - name: Test
        run: dotnet test document-editor.sln
        working-directory: Backend

      - name: Build
        run: dotnet build --configuration Release --no-restore
        working-directory: Backend

  Frontend:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node LTS
        uses: actions/setup-node@v3
        with:
          node-version: 'lts/*'
          cache: 'npm'
          cache-dependency-path: Frontend/package-lock.json

      - name: Installing Dependencies
        run: npm ci
        working-directory: Frontend

      - name: Linting
        run: npx ng lint
        working-directory: Frontend

      - name: Building
        run: npx ng build
        working-directory: Frontend

  SonarQube:
    needs: [ Backend, Frontend ]
    runs-on: windows-latest
    steps:
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: 'zulu'
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Cache SonarQube packages
        uses: actions/cache@v4
        with:
          path: ${{ runner.temp }}\cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar

      - name: Cache SonarQube scanner
        id: cache-sonar-scanner
        uses: actions/cache@v4
        with:
          path: ${{ runner.temp }}\scanner
          key: ${{ runner.os }}-sonar-scanner
          restore-keys: ${{ runner.os }}-sonar-scanner

      - name: Install SonarQube scanner
        if: steps.cache-sonar-scanner.outputs.cache-hit != 'true'
        shell: powershell
        run: |
          New-Item -Path ${{ runner.temp }}\scanner -ItemType Directory
          dotnet tool update dotnet-sonarscanner --tool-path ${{ runner.temp }}\scanner

      - name: Analyze Start
        shell: powershell
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
        run: |
          dotnet tool install --global dotnet-sonarscanner
          dotnet-sonarscanner begin /k:"MonsterIncorporated_DocumentEditor_13865ef2-2dd5-4435-bfd1-c361c49e187f"
          
      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '9.0.x'

      - name: Installing Dependencies
        run: dotnet restore document-editor.sln
        working-directory: Backend

      - name: Format
        run: dotnet format document-editor.sln --verify-no-changes
        working-directory: Backend

      - name: Test
        run: dotnet test document-editor.sln
        working-directory: Backend

      - name: Build
        run: dotnet build --configuration Release --no-restore
        working-directory: Backend

      - name: Setup Node LTS
        uses: actions/setup-node@v3
        with:
          node-version: 'lts/*'
          cache: 'npm'
          cache-dependency-path: Frontend/package-lock.json
        
      - name: Installing Dependencies
        run: npm ci
        working-directory: Frontend

      - name: Linting
        run: npx ng lint
        working-directory: Frontend

      - name: Building
        run: npx ng build
        working-directory: Frontend
          
      - name: Analyze End
        shell: powershell
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
        run: |
          dotnet-sonarscanner end /d:sonar.token="$env:SONAR_TOKEN"

  call-backend:
    if: github.event_name == 'push' && github.event.pull_request.base.ref != 'main'
    needs: [ Backend, Frontend, SonarQube ]
    uses: ./.github/workflows/test_backend.yml
    secrets: inherit
    permissions:
      id-token: write
      contents: read

  call-frontend:
    if: github.event_name == 'push' && github.event.pull_request.base.ref != 'main'
    needs: [ Backend, Frontend, SonarQube ]
    uses: ./.github/workflows/test_frontend.yml
    secrets: inherit